/Shadows_of_Sin/game/cache/
/Shadows_of_Sin/game/saves/

/Shadows_of_Sin/traceback.txt
/Shadows_of_Sin/log.txt
/Shadows_of_Sin/errors.txt
/Shadows_of_Sin/files.txt

/.vscode

*.com
*.class
*.dll
*.exe
*.o
*.so

*.rpyc
*.rpymc